<br /><br /><br /><br />
<h1>admin home page</h1>



<nav class="mt-2">
  <ul>
    <div class="info">
      <a href="/admin/dashboard" class="d-block"></a>
    </div>
    <a href="/logout" class="nav-link">
      <p>Logout</p>
    </a>
  </ul>
</nav>
